fw_parent/fw_messaging/src/test/resources/xml/schemas/TestAddressType.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="test_address">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="street" type="xsd:string" maxOccurs="1" minOccurs="1" />
				<xsd:element name="city" type="xsd:string" maxOccurs="1" minOccurs="1" />
				<xsd:element name="state" type="xsd:string" maxOccurs="1" minOccurs="1" />
				<xsd:element name="zip" type="xsd:string" maxOccurs="1"	minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>